body {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffe6e6;
}

h3 {
    width:20%;
    margin: 0px auto 0px auto;
}

p {
    color: #6155a6;
    font-family: 'Merriweather Sans', sans-serif;
}

hr {
    overflow: visible; /* For IE */
    width: 60%;
    height: 30px;
    border-style: solid;
    border-color: #6155a6;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #6155a6;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

h1 {
    margin: 10px auto 0px auto;
}

img {
    display: block;
}

.menubar {
    height: 50px;
    width: 100%;
    background-color: coral;
    position: fixed;
}

.header {
    
    padding: 10px 20px 10px 20px;
    margin: 10px;
    text-align: center;
    font-size: 150%;
}

.pro {
    text-decoration: underline;
    display: inline;
    
}
.nth {
    display: inline;
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    color: #6155a6;
    
}

.cute_font {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: #a685e2;
    
    
}

.cloud1 {
    position: relative;
    margin-left: auto;
    margin-right: 20%;
    max-width: 26%;
    height: auto;
}
.cloud2 {
    position: relative;
    margin-left: 20%;
    margin-right: auto;
    max-width: 26%;
    height: auto;
}
.mountain {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.images {
    margin-left: auto;
    margin-right: 30px;
    float: left;
    width: 40%;
}

.cursive {
    font-family: 'Sacramento', cursive;
    text-align: center;
    color: #ffabe1;
}

.cursive_left {
    font-family: 'Sacramento', cursive;
    text-align: left;
    color: #ffabe1;
}

.middle-container {
    
}

.skill-row-1 {
    width: 50%;
    margin: 100px auto 150px auto;
    line-height: 2;
    padding: 30px;
    text-align: left;
    
}

.skill-row-2 {
    width: 50%;
    margin: 150px auto 150px auto;
    padding: 30px;
    line-height: 2;
    text-align: left;
    
}
.skill-row-3 {
    width: 50%;
    margin: 150px auto 150px auto;
    padding: 30px;
    line-height: 2;
    text-align: left;
    
}

.bottom_container {
    margin: auto;
    background-color: #a685e2;
    text-align: center;
    padding: 50px 0px 20px;
    
}

.contact_me {
    text-align: center;
}

.profile {
    text-align: center;
}